*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    

}
h1{
    text-align: center;
    color: blue;
}

#letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 0;
    font-family: 'Comic Sans MS', sans-serif;
 }

 #letters span {
    margin: 5px;
    padding-top: 0.5em;
    border: 1px solid gray;
    color: darkblue;
    width: 2em;
    height: 2em;
    line-height: 0.9;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
 }

 #letters span:hover{
    background-color: royalblue;
    
 }
 #letters span:active{
    box-shadow: 2px 2px 2px black;
 }

 #clue p {
    margin: 0;
    font-size: 3rem;
    letter-spacing: 0.5em;
    color: darkblue;
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
 }

 #letters span.used {
    background-color: lightgray;
    opacity: 0.5;
 }

#image {
    text-align: center;
 }

#gameover p {
    text-align: center;
    font-size: 1rem;
    display: none;
 }